<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Class Information"></app-page-title>
<!-- start row-->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-end mb-2">
                    <button class="btn btn-info" (click)="open(FormModal)">+ Add Class</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped mb-0">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Class ID</th>
                                <th scope="col">Class Name</th>
                                <th scope="col">Class Code</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let classItem of subdata">
                                <td>{{ classItem.classId }}</td>
                                <td>{{ classItem.classname }}</td>
                                <td>{{ classItem.classcode }}</td>
                                <td>
                                    <button class="btn btn-info btn-sm" style="padding: 2px 7px;" (click)="edit(FormModal, classItem.classId)"><i class="bi bi-pencil-square" style="font-size: 14px;"></i></button>&nbsp;
                                    <button class="btn btn-danger btn-sm" style="padding: 2px 7px;" (click)="delete(classItem.classId)"><i class="bi bi-trash" style="font-size: 14px;"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #FormModal let-modal>
    <div class="modal-header">
        <h4 *ngIf="!isEditing" class="modal-title" id="modalLabel">Add Class</h4>
                <h4 *ngIf="isEditing" class="modal-title" id="modalLabel">Edit Class</h4>
        <button type="button" class="btn-close" id="cancel" (click)="modal.dismiss('Cross click')"
            style="margin-left: 0;">
        </button>
    </div>
    <div class="modal-body">
        <!-- Show Error Message -->
        <div *ngIf="errMsg" class="alert alert-danger alert-dismissible fade show" role="alert" style="width:100%">
            <strong>{{errMsg}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <!--Close Error Message-->
        <!-- Show Success Message -->
        <div *ngIf="successMsg" class="alert alert-success alert-dismissible fade show" role="alert" style="width:100%">
            <strong>{{successMsg}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <form [formGroup]="subForm">
                    <div class="form-group mb-2">
                        <label class="form-label">Class Code</label>
                        <input type="text" class="form-control" formControlName="classcode" placeholder="Class Code" />
                    </div>
                    <div class="form-group mb-2">
                        <label class="form-label">Class name</label>
                        <input type="text" class="form-control" formControlName="classname" placeholder="Class Name" />
                    </div>
                    <div class="form-group mb-2">
                        <label class="form-label">Select Exam</label>
                        <select2 [data]="exams" formControlName="examId" placeholder="Select Exam" id="selec2-2" multiple="true"></select2>
                    </div>
                    <div class="form-group mb-2">
                        <label class="form-label">Select Subject</label>
                        <select2 [data]="subjects" formControlName="subjectId" placeholder="Select Subject" id="selec2-2" multiple="true"></select2>
                    </div>
                    <div class="form-group mb-2">
                        <label class="form-label">Select Teacher</label>
                        <select2 [data]="teachers" formControlName="teacherId" placeholder="Select Teacher" id="selec2-2"></select2>
                    </div>
                    <div class="form-group  mb-2" *ngIf="!isEditing">
                        <button class="btn btn-primary" type="submit" (click)="create()">Submit</button>
                    </div>
                    <div class="form-group  mb-2" *ngIf="isEditing">
                        <button class="btn btn-success" type="submit" (click)="update()">Update</button>
                    </div>
        </form>
    </div>
</ng-template>