<app-page-title [breadcrumbItems]="pageTitle" title="Add Subject Marks"></app-page-title>
<div class="card">
    <div class="card-body">
        <form [formGroup]="Form" #validate1="ngForm">
            <div class="row align-items-end">
                <div class="col-md-4">
                    <div class="form-group mb-2">
                        <label class="form-label">Class</label>
                        <select class="form-select" formControlName="ClassId" (change)="onClassSelected()" placeholder="Select Class" required >
                            <option value="" selected>Select Class</option>
                            <option *ngFor="let Item of ClassData; let i = index" value="{{ Item.ClassId }}">{{ Item.ClassName }}</option>
                        </select>
                        <div *ngIf="validate1.submitted && form1.ClassId.invalid" class="invalid-feedback">
                            Please Select Class Name.
                        </div> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-2">
                        <label class="form-label">Subject</label>
                        <select class="form-select" formControlName="SubjectId" required >
                            <option value="" selected>Select Subject</option>
                            <option *ngFor="let Item of SubjectsData; let i = index" value="{{ Item.SubjectId }}">{{ Item.SubjectName }}</option>
                        </select>
                        <div *ngIf="validate1.submitted && form1.SubjectId.invalid" class="invalid-feedback">
                            Please Select Subject.
                        </div> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-2">
                        <label class="form-label">Exam</label>
                        <select class="form-select" formControlName="ExId" required >
                            <option value="" selected>Select Exam</option>
                            <option *ngFor="let Item of ExamList; let i = index" value="{{ Item.ExId }}">{{ Item.ExamName }}</option>
                        </select>
                        <div *ngIf="validate1.submitted && form1.ExId.invalid" class="invalid-feedback">
                            Please Select Exam.
                        </div> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-2">
                        <label class="form-label">Out of Marks</label>
                        <input type="number" class="form-control" formControlName="OutOfMarks" placeholder="eg:-50" required />
                        <div *ngIf="validate1.submitted && form1.OutOfMarks.invalid" class="invalid-feedback">
                            Please Enter Marks.
                        </div> 
                    </div>
                </div>
                <div class="col-md-6">
                    <button *ngIf="!isEditing" type="submit" (click)="Create()" class="btn btn-primary mb-2" style="width: 200px;">Add Marks</button>
                    <button *ngIf="isEditing" type="submit" (click)="Update()" class="btn btn-info mb-2" style="width: 200px;">Update Marks</button>&nbsp;
                    <button *ngIf="isEditing" type="submit" (click)="Cancel()" class="btn btn-danger mb-2" style="width: 150px;">Cancel</button>
                </div>
            </div>
        </form>
        <div *ngIf="errMsg" class="alert alert-danger alert-dismissible fade show" role="alert" style="width:100%">
            {{errMsg}}
        </div>
        <div *ngIf="successMsg" class="alert alert-success alert-dismissible fade show" role="alert" style="width:100%">
            {{successMsg}}
        </div>
        <div *ngIf="ExamData && ExamData.length > 0; else noData">
            <table class="table table-bordered table-striped mt-2 mb-0">
                <thead class="table-dark">
                    <tr>
                        <th [width]="80" class="text-center">Sr.No.</th>
                        <th>Class</th>
                        <th>Subject</th>
                        <th>Exam</th>
                        <th>Out Of Marks</th>
                        <th [width]="110" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Item of ExamData; let i = index">
                        <td class="text-center">{{ i + 1 }}</td>
                        <td>{{ classMap[Item.ClassId] || 'N/A' }}</td>
                        <td>{{ subjectMap[Item.SubjectId] || 'N/A' }}</td>
                        <td>{{ examMap[Item.ExId] || 'N/A' }}</td>
                        <td>{{ Item.OutOfMarks }}</td>
                        <td class="text-center"><a class="btn btn-link btn-sm p-0" (click)="Edit(Item.MarkId)">Edit</a> | <a class="btn btn-link btn-sm p-0" (click)="Delete(Item.MarkId)">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #noData>
            <p class="text-center mt-4">No records available.</p>
        </ng-template>
    </div>
</div>