<app-page-title [breadcrumbItems]="pageTitle" title="Subject Mark List"></app-page-title>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-end mb-2">   
                    <button class="btn btn-info" (click)="open(FormModal)">+ Add Subject Marks</button>
                </div>
                <div *ngIf="errMsg" class="alert alert-danger alert-dismissible fade show" role="alert"
                    style="width:100%">
                    <strong>{{errMsg}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div *ngIf="successMsg" class="alert alert-success alert-dismissible fade show" role="alert"
                    style="width:100%">
                    <strong>{{successMsg}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped mb-0">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Mark ID</th>
                                <th scope="col">Class Name</th>
                                <th scope="col">Exam Name</th>
                                <th scope="col" style="display: none;">Subject ID</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sub of subdata">
                                <td>{{sub.submarkId}}</td>
                                <td>{{ classMap[sub.classId] || 'N/A' }}</td>
                                <td>{{ examMap[sub.examId] || 'N/A' }}</td>
                                <td style="display: none;">{{sub.subjectId}}</td>
                                <td>
                                    <button class="btn btn-info btn-sm" style="padding: 2px 7px;" (click)="edit(FormModal, sub.submarkId)"><i class="bi bi-pencil-square" style="font-size: 14px;"></i></button>&nbsp;
                                    <button class="btn btn-danger btn-sm" style="padding: 2px 7px;" (click)="delete(sub.submarkId)"><i class="bi bi-trash" style="font-size: 14px;"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #FormModal let-modal>
    <div class="modal-header">
        <h4 *ngIf="!isEditing" class="modal-title" id="modalLabel">Add Subject Marks</h4>
                <h4 *ngIf="isEditing" class="modal-title" id="modalLabel">Edit Subject Marks</h4>
        <button type="button" class="btn-close" id="cancel" (click)="modal.dismiss('Cross click')"
            style="margin-left: 0;">
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="errMsg" class="alert alert-danger alert-dismissible fade show" role="alert" style="width:100%">
            <strong>{{errMsg}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div *ngIf="successMsg" class="alert alert-success alert-dismissible fade show" role="alert" style="width:100%">
            <strong>{{successMsg}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <form [formGroup]="subForm">
            <div class="form-group mb-2">
                <label class="form-label">Select Class</label>
                <select2 *ngIf="!isEditing" [data]="classes" placeholder="Select Class" [formControl]="classControl" id="selec2-class"></select2>
                <select2 *ngIf="isEditing" [data]="classes" placeholder="Select Class" formControlName="classControl" id="selec2-class"></select2>
            </div>
            <div class="form-group mb-2" *ngIf="selectedClassId">
                <label class="form-label">Select Exam</label>
                <select2 *ngIf="!isEditing" [data]="exams" placeholder="Select Exam" [formControl]="examControl" id="selec2-exam"></select2>
                <select2 *ngIf="isEditing" [data]="exams" placeholder="Select Exam" formControlName="examControl" id="selec2-exam"></select2>
            </div>
            <div class="table-responsive pt-2 mb-2" *ngIf="selectedExamId">
                <table class="table table-bordered table-striped mb-0">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Subject Name</th>
                            <th scope="col">Max Marks</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="subjectList">
                        <tr *ngFor="let sub of subjectList.controls; let i = index" [formGroupName]="i">
                          <td>{{ sub.value.subjectId }}</td>
                          <td><input type="number" class="form-control" formControlName="maxMark" /></td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="form-group text-center" *ngIf="!isEditing">
                <button class="btn btn-success" type="submit" (click)="create()">Submit</button>
            </div>
            <div class="form-group text-center" *ngIf="isEditing">
                <button class="btn btn-primary" type="submit" (click)="update()">Update</button>
            </div>
        </form>
    </div>
</ng-template>