<app-page-title [breadcrumbItems]="pageTitle" title="Student List"></app-page-title>
<div class="card">
    <div class="card-body">
        <form [formGroup]="Form" #validate1="ngForm">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group mb-2">
                        <label class="form-label">Year</label>
                        <select class="form-select" (change)="onChangeYear()" formControlName="AdmissionDate" placeholder="Select Year" required >
                            <option value="" selected>Select Year</option>
                            <option *ngFor="let Item of yearsList; let i = index" value="{{ Item }}">{{ Item }}</option>
                        </select>
                        <div *ngIf="validate1.submitted && form1.ClassId.invalid" class="invalid-feedback">
                            Please Select Class Name.
                        </div> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-2">
                        <label class="form-label">Class</label>
                        <select class="form-select" (change)="onChangeClass()" formControlName="ClassId" placeholder="Select Class" required >
                            <option value="" selected>Select Class</option>
                            <option *ngFor="let Item of ClassData; let i = index" value="{{ Item.ClassId }}">{{ Item.ClassName }}</option>
                        </select>
                        <div *ngIf="validate1.submitted && form1.ClassId.invalid" class="invalid-feedback">
                            Please Select Class Name.
                        </div> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label class="form-label">Roll Number</label>
                        <select class="form-select" (change)="onChangeRoll()" formControlName="RollNo" placeholder="Select Roll No." required >
                            <option value="" selected>Select Class</option>
                            <option *ngFor="let Item of StudentData; let i = index" value="{{ Item.RollNo }}">{{ Item.RollNo }}</option>
                        </select>
                        <div *ngIf="validate1.submitted && form1.RollNo.invalid" class="invalid-feedback">
                            Please Select Roll No.
                        </div> 
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" (click)="GetStudentData()" class="btn btn-success mb-3" style="width:200px">Get Student Data</button>
                </div>
            </div>
        </form>
        <div *ngIf="errMsg" class="alert alert-danger alert-dismissible fade show text-center" role="alert" style="width:100%">
            {{errMsg}}
        </div>
        <div *ngIf="successMsg" class="alert alert-success alert-dismissible fade show text-center" role="alert" style="width:100%">
            {{successMsg}}
        </div>
        <div *ngIf="FilteredStudentData && FilteredStudentData.length > 0;">
            <table class="table table-bordered table-striped mb-0">
                <thead class="table-dark">
                    <tr>
                        <th class="text-center">Sr.No.</th>
                        <th>Name</th>
                        <th>Mobile Nummber</th>
                        <th>Roll Number</th>
                        <th>Class</th>
                        <!-- <th>Address</th> -->
                        <th>Admission Date</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Item of FilteredStudentData; let i = index">
                        <td class="text-center">{{ i + 1 }}</td>
                        <td>{{ Item.StudentName }}</td>
                        <td>{{ Item.Mobile }}</td>
                        <td>{{ Item.RollNo }}</td>
                        <td>{{ classMap[Item.ClassId] || 'N/A' }}</td>
                        <!-- <td>{{ Item.Address }}</td> -->
                        <td>{{ Item.AdmissionDate | date: 'dd, MMM yyyy' }}</td>
                        <td class="text-center"><a class="btn btn-link btn-sm p-0" (click)="Edit(Item.StudentId)">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <ng-template #noData>
            <p class="text-center">No records available.</p>
        </ng-template> -->
    </div>
</div>